name: trigger-n8n

on:
  push:
    branches:
      - main

jobs:
  notify-n8n:
    runs-on: ubuntu-latest
    steps:
      - name: Call n8n webhook
        run: |
          curl -X POST https://kajaln8n.app.n8n.cloud/webhook/github-push/github-push \
          -H "Content-Type: application/json" \
          -d "{\"repo\":\"${{ github.repository }}\", \"commit\":\"${{ github.sha }}\"}"
