name: trigger-n8n

on:
  push:
    branches:
      - main

jobs:
  notify-n8n:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger n8n workflow
        run: |
          curl -X POST https://kajaln8n.app.n8n.cloud/webhook-test/webhook-test \
          -H "Content-Type: application/json" \
          -d "{\"repo\":\"${{ github.repository }}\", \"commit\":\"${{ github.sha }}\"}"
